body {
  padding-top: 150px;
  font-family: "Ubuntu", sans-serif;
  color: #505050;
  background: rgba(194, 175, 201, 0.5);
  background-image: url("https://img.freepik.com/free-vector/flat-design-roof-tile-pattern_23-2149257258.jpg?w=740&t=st=1685709326~exp=1685709926~hmac=9d0f3de16914602f22378a51fe02e0b0379fc7c6deb4f424e111952c2fc0149b");
  background-position: cover;
}

form {
  padding-bottom: 10px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  width: 550px;
  padding: 20px 20px;
  background: rgba(193, 185, 200, 0.85);
  box-shadow: 0px 0px 20px 20px #a0a0a0;
}

.currentButton {
  border-radius: 5px;
  border-style: none;
  padding: 1px 12px;
  background: rgba(237, 237, 237, 0.5);
}
.currentButton:hover {
  background-color: rgb(214, 214, 214);
  transition: all 150ms ease-in-out;
  background: rgba(202, 202, 202, 0.5);
}

.searchButton {
  border-radius: 10px;
  border-style: none;
  padding: 3px 10px;
  background: rgba(138, 138, 138, 0.5);
}
.searchButton:hover {
  background-color: rgb(214, 214, 214);
  transition: all 150ms ease-in-out;
  background: rgba(75, 75, 75, 0.5);
}

#icon {
  position: relative;
  bottom: 20px;
  right: 20px;
}

#number {
  font-size: 70px;
  position: relative;
  right: 40px;
}

#degrees {
  position: relative;
  font-size: 20px;
  bottom: 35px;
  right: 40px;
}

#c {
  text-decoration: none;
  color: #777777;
}
#c:hover {
  text-decoration: underline;
  color: #525252;
}

#f {
  text-decoration: none;
  color: #777777;
}
#f:hover {
  text-decoration: underline;
  color: #525252;
}

li {
  list-style: none;
}

.col-2 {
  text-align: center;
}

.fa-cloud-sun {
  font-size: 30px;
}
.fa-cloud {
  font-size: 30px;
}
.fa-cloud-rain {
  font-size: 30px;
}

.codedBy {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.linkedIn {
  text-decoration: none;
  color: rgb(234, 201, 255);
}

.linkedIn:hover {
  text-decoration: underline;
}

.gitHub {
  text-decoration: none;
  color: rgb(234, 201, 255);
}

.gitHub:hover {
  text-decoration: underline;
}

.netlify {
  text-decoration: none;
  color: rgb(234, 201, 255);
}

.netlify:hover {
  text-decoration: underline;
}

.forecast-max {
  font-size: 12px;
}

.forecast-min {
  font-size: 12px;
}
