body {
  padding-top: 150px;
  font-family: "Ubuntu", sans-serif;
  color: #545454;
  background: rgb(230, 230, 230);
}

form {
  padding-bottom: 10px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  width: 550px;
  padding: 20px 20px;
  background: rgba(255, 247, 247, 0.5);
  box-shadow: 10px 10px 50px #777777;
}

.currentButton {
  border-radius: 5px;
  border-style: none;
  padding: 1px 0px;
  background: rgba(237, 237, 237, 0.5);
}
.currentButton:hover {
  background-color: rgb(214, 214, 214);
  transition: all 150ms ease-in-out;
  background: rgba(202, 202, 202, 0.5);
}

.searchButton {
  border-radius: 10px;
  border-style: none;
  padding: 3px 10px;
  background: rgba(138, 138, 138, 0.5);
}
.searchButton:hover {
  background-color: rgb(214, 214, 214);
  transition: all 150ms ease-in-out;
  background: rgba(75, 75, 75, 0.5);
}

#icon {
  position: relative;
  bottom: 20px;
  right: 20px;
}

#number {
  font-size: 70px;
  position: relative;
  right: 40px;
}

#degrees {
  position: relative;
  font-size: 20px;
  bottom: 35px;
  right: 40px;
}

#c {
  text-decoration: none;
  color: #777777;
}
#c:hover {
  text-decoration: underline;
  color: #525252;
}

#f {
  text-decoration: none;
  color: #777777;
}
#f:hover {
  text-decoration: underline;
  color: #525252;
}

li {
  list-style: none;
}

.col-2 {
  text-align: center;
}

.fa-cloud-sun {
  font-size: 30px;
}
.fa-cloud {
  font-size: 30px;
}
.fa-cloud-rain {
  font-size: 30px;
}

.codedBy {
  padding-top: 10px;
  text-align: center;
  font-size: 10px;
}

.linkedIn {
  text-decoration: none;
  color: rgb(75, 186, 255);
}

.linkedIn:hover {
  text-decoration: underline;
}

.gitHub {
  text-decoration: none;
  color: rgb(75, 186, 255);
}

.gitHub:hover {
  text-decoration: underline;
}

.netlify {
  text-decoration: none;
  color: rgb(75, 186, 255);
}

.netlify:hover {
  text-decoration: underline;
}
